.row.full-width {
  width: 100%;
  max-width: 100%;
}

.full-height{
	height: 100%;
	max-height: 100%;
}

body{
	background-image: url("../images/background.jpg");
	background-size: 100% 100%;
    background-repeat: repeat;
}

#header .row{
	width: 99.9%;
}

a{
	color: #fb3a5e;
	font-weight: bold;
}

.success{
	width: 100%;
	background-color: #5DA423;
	color: #FFFFFF;
}
